* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.MuiContainer-root {
  max-width: 100vw !important;
}

@media screen and (min-width: 1200px) {
  .MuiContainer-root {
    max-width: 100vw !important;
  }
}